apiVersion: apps/v1
kind: Deployment
metadata:
  name: python
spec:
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: python
          image: python:3.7.4
          ports:
          - containerPort: 4025
            
---

apiVersion: v1
kind: Service
metadata:
  name: python
spec:
  selector: 
    app: python
  ports:
    - port: 4025
  type: ClusterIP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: python
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: python
          image: luizfgarcia/desafio-devops
          ports:
          - containerPort: 8080
            
---
apiVersion: v1
kind: Service
metadata:
  name: python
spec:
  selector: 
    app: python
  ports:
    - port: 80
      targetPort: 8080
  type: LoadBalancer