apiVersion: apps/v1
kind: Deployment
metadata:
  name: python
spec:
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: python
          image: python:3.7.4
          ports:
          - containerPort: 4025
          env:
          - name: POSTGRES_DB
            value: "python"
          - name: POSTGRES_USER
            value: "python"
          - name: POSTGRES_PASSWORD
            value: "Pg#123"  

---

apiVersion: v1
kind: Service
metadata:
  name: postgre
spec:
  selector: 
    app: postgre
  ports:
    - port: 4025
  type: ClusterIP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 10
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: web
          image: luizfegarcia/desafio-devops
          ports:
          - containerPort: 8080
          env:
          - name: DB_DATABASE
            value: "python"
          - name: DB_USERNAME
            value: "python"
          - name: DB_PASSWORD
            value: "Pg#123" 
          - name: DB_HOST
            value: "python"  
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector: 
    app: web
  ports:
    - port: 80
      targetPort: 8080
  type: LoadBalancer