name: CI-CD

on:
 push:
   branches: ["main"]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.1

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3.0.0

    - name: Autenticação Docker Hub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{secrets.DOCKERHUB_USER}}
        password: ${{secrets.DOCKERHUB_PWD}}
      
    
    - name: Construção Imagem Docker
      uses: docker/build-push-action@v5.1.0
      with:
        context: ./app
        file: ./app/Dockerfile
        push: true
        tags: 
          luizfgarcia/desafio-devops:${{github.run number}}
    
